@{
    ViewBag.Title = "角色管理";
    Layout = "~/Views/Shared/_EasyUILayout.cshtml";
}

<script type="text/javascript">
    $(function() {
        loadData();
    });

    //加载数据
    function loadData() {
        $('#dg').datagrid({
            url: '@Url.Action("Data")?type=@Request["type"]&appKey=@Request["appKey"]',
            fit: true, //自动填充
            singleSelect: true, //单选
            pagination: true, //分页信息
            rownumbers: true, //显示行号
            pageNumber: 1, //默认显示第一页
            pageSize: 20, //每页的行数
            idField: 'RoleID',
            columns: [
                [
                    { field: 'Name', title: '名称', width: 200, halign: 'center', align: 'left', sortable: true },
                    { field: 'Remark', title: '描述', width: 300, halign: 'center', align: 'left', sortable: true }
                ]
            ],
            rowStyler: function(index, row) {
                if (row.State == 0) {
                    return 'color:red';
                }
            },
            onDblClickRow: function() {
                editInfo();
            }
        });
    }

    //工具栏按钮单击事件
    function toolbarClick(key) {
        switch (key) {
            case "Add":
                addInfo();
                break;
            case "Edit":
                editInfo();
                break;
            case "Delete":
                deleteInfo();
                break;
            case "Enable":
                enableInfo();
                break;
            case "Disable":
                disableInfo();
                break;
        }
    }

    //添加信息
    function addInfo() {
        common.showDialog('@Url.Action("Edit")?type=@Request["type"]', '添加角色', 600, 400, function () {
            $('#dg').datagrid('reload');
        });
    }

    //修改信息
    function editInfo() {
        var row = $('#dg').datagrid('getSelected');
        if (row == null) {
            common.alert('请先选择一条记录。');
            return;
        }

        common.showDialog('@Url.Action("Edit")?id=' + row.RoleID, '修改角色', 600, 400, function () {
            $('#dg').datagrid('reload');
        });
    }

    //删除信息
    function deleteInfo() {
        var row = $('#dg').datagrid('getSelected');
        if (row == null) {
            common.alert('请先选择一条记录。');
            return;
        }

        common.confirm('你确认要删除[<span class="msg_tip">' + row.Name + '</span>]吗?', function () {
            var postData = new Object();
            postData.id = row.RoleID;
            common.antiToken(postData);

            $.post('@Url.Action("Delete")', postData, function (result) {
                common.processResult(result, function () {
                    $('#dg').datagrid('reload');
                });
            });
        });
    }

    //启用信息
    function enableInfo() {
        var row = $('#dg').datagrid('getSelected');
        if (row == null) {
            common.alert('请先选择一条记录。');
            return;
        }

        common.confirm('你确认要启用[<span class="msg_tip">' + row.Name + '</span>]吗?', function () {
            var postData = new Object();
            postData.id = row.RoleID;
            common.antiToken(postData);

            $.post('@Url.Action("Enable")', postData, function (result) {
                common.processResult(result, function () {
                    $('#dg').datagrid('reload');
                });
            });
        });
    }

    //禁用信息
    function disableInfo() {
        var row = $('#dg').datagrid('getSelected');
        if (row == null) {
            common.alert('请先选择一条记录。');
            return;
        }

        common.confirm('你确认要禁用[<span class="msg_tip">' + row.Name + '</span>]吗?', function () {
            var postData = new Object();
            postData.id = row.RoleID;
            common.antiToken(postData);

            $.post('@Url.Action("Disable")', postData, function (result) {
                common.processResult(result, function () {
                    $('#dg').datagrid('reload');
                });
            });
        });
    }

    //权限
    function rightInfo() {
        var row = $('#dg').datagrid('getSelected');
        if (row == null) {
            common.alert('请先选择一条记录。');
            return;
        }

        common.showDialog('@Url.Action("RolePurview", "Permission")?id=' + row.RoleID, '赋予角色权限', 800, 500);
    }

    //查询
    function query() {
        $('#dg').datagrid('unselectAll');
        $('#dg').datagrid({
            queryParams: {
                state: $('#txtState').combobox('getValue'),
                keyword: $('#txtKeyword').val()
            }
        });
    }
</script>
@Html.AntiForgeryToken()
<div data-options="region:'center',border:false">
    <div class="easyui-layout" data-options="fit:true" style="width: 100%; height: 100%">
        <div data-options="region:'north',border:false">
            <div class="datagrid-toolbar">
                @Html.Toolbar()
            </div>
            <div class="query">
                <table>
                    <tr>
                        <td>状态</td>
                        <td><input type="text" id="txtState" class="easyui-combobox" data-options="data: [{value: '',text:'--全部--'},{value: '1',text:'启用'},{value: '0',text:'禁用'}],valueField:'value',textField:'text',editable:false,panelHeight:'auto'" style="width:90px" /></td>
                        <td>快速查询</td>
                        <td>
                            <input id="txtKeyword" type="text" class="easyui-textbox enterQuery" data-options="prompt:'名称或拼音首字母'" style="width: 160px" />
                        </td>
                        <td>
                            <a class="easyui-linkbutton" id="btnQuery" onclick="query()" data-options="iconCls:'icon-search'">查询</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div data-options="region:'center',border:false">
            <table id="dg"></table>
        </div>
    </div>
</div>
